.input-container {
  display: flex;
  max-height: 8em;
  padding: 10px;
  background: #fff;
  border: 1px solid #000;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input {
  display: flex;
  width: 100%;
  min-height: 3em;
  max-height: 8em;
  overflow-y: auto;
  align-items: end;
}

.doco-input {
  flex-grow: 1;
  width: 30em;
  min-height: 3em;
  max-height: 8em;
  overflow-y: auto;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.05rem;
  padding: 8px 0 8px 16px;
  outline: none;
  resize: none;
}

.doco-input::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.doco-input:empty:before {
  content: attr(placeholder);
  letter-spacing: 0.8px;
  color: #999;
}

.send-button {
  padding: 0 1.5em 0 2.5em;
  height: 40px;
  cursor: pointer;
  background-color: #0000;
  outline: 0;
}

.send-button-text {
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-decoration: underline;
  text-underline-offset: 1px;
}
