.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  display: flex;
  z-index: 999;
}

.modal {
  min-width: 420px;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  background: #faf9f9;
  border: 1px solid #000;
  padding: 2em 1.5em;
}

.modal-header {
  width: 100%;
  padding-bottom: 1em;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-title {
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-decoration: underline;
  text-underline-offset: 1px;
  margin-left: 1em;
}

.modal-close-button {
  background: #0000;
  width: fit-content;
  overflow-wrap: break-word;
  color: #f00;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
  margin-right: 1.5em;
}

.modal-content-message {
  padding: 0.1em 1.5em;
  margin: auto;
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: left;
}

.modal-content-indented {
  padding: 0.1em 3em;
}

.modal-content-note {
  margin-top: 20px !important;
  font-weight: bold;
}
