.sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  padding: 20px;
}

.sidebar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
}

.name-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  border-bottom: 1px solid #000;
}

.app-name {
  position: relative;
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}

.ingested-document {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;
}

.injested-file {
  position: relative;
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: center;
  white-space: nowrap;
  margin-left: 1em;
}

.list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.file-name {
  position: relative;
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: center;
  white-space: nowrap;
  margin-left: 2em;
  margin-top: 0.5em;
}

.delete-button {
  background: #0000;
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-right: 1.5em;
  white-space: nowrap;
}

.upload-button {
  position: absolute;
  bottom: 0;
  height: auto;
  background: #0000;
  margin-bottom: 1.5em;
  padding: 0.7em 3em;
  user-select: none;
  cursor: pointer;
}

.button-text {
  width: fit-content;
  overflow-wrap: break-word;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-decoration: underline;
  text-underline-offset: 3px;
  white-space: nowrap;
}
