.chat-user {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  padding: 1.5em 6em 3em 6em;
}

.chat-user-date {
  width: fit-content;
  color: #999;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: right;
  margin-bottom: 0.5em;
}

.chat-user-content {
  width: fit-content;
  color: #000;
  font-family: "NeueMontreal-Light", sans-serif;
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-word;
  margin-left: 10%;
}

.chat-user-span {
  display: block;
  text-align: left;
}
